In [1]:
from dateutil.relativedelta import *
from dateutil.easter import *
from dateutil.rrule import *
from dateutil.parser import *
from datetime import *
from datetime import datetime
from datetime import datetime
from elasticsearch import Elasticsearch
import pandas as pd
import numpy as np
import dateutil as dt
df = pd.read_csv("_data\SanctionedList.csv")
df.fillna(value=((datetime.today()).year),inplace=True)
es = Elasticsearch()

In [4]:
try_parsing_date("08/05/1990")

['1990/05/08', '1990/08/05']

In [3]:
def try_parsing_date(text):
    s =[]
    str_list = (str(text).replace("-","/"))
    
    for fmt in ['%Y','%d/%b/%y','%Y/%mm/%d', '%d/%m/%Y','%m/%d/%y','%d/%m/%y','%m/%d/%Y']:
        
        try:
            ass = (str(datetime.strptime(str_list,fmt))).split("-")
            day=(ass[2].split())[0]
            year = ass[0]
            month = ass[1]
            s.append(str(year+"/"+month+"/"+day))
        except:
            continue
    return s

In [11]:
datetime.strptime("08/05/1990", "%d/%m/%Y").strftime("%Y/%m/%d")

'1990/05/08'

In [8]:
datetime.datetime.strptime("08/05/1990","%d/%m/%Y").strftime("%d/%m/%Y")

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [50]:
l=[]
for (i,j) in df.iterrows():
    d={}
    d['Name'] = str(j.Name).replace(",","").lower()
    date_variation_list = (try_parsing_date(str(j.DOB).split(",")[0]))
    date_variation_list= (try_parsing_date(str(j.DOB).split(",")[0]))
    if(date_variation_list.__len__()>1):
        d['DOB_1'] = date_variation_list[0]
        d['DOB_2'] = date_variation_list[1]
    else:
        d['DOB_1'] = date_variation_list[0]
        d['DOB_2'] = "1900/06/01"
    #d['DOB_1'] = str(try_parsing_date(str(j.DOB).split(",")[0])[0])
    #print (d['DOB_1'])
    #break
    print(j.DOB)
    #try:
   #     if(str(try_parsing_date(str(j.DOB).split(",")[0])[1])):
     #       d['DOB_2'] = str(try_parsing_date(str(j.DOB).split(",")[0])[1])
    #except:
     #   d['DOB_2'] = str(try_parsing_date(str(j.DOB).split(",")[0])[0])
    d['SSN'] = j.SSN
    d['Address'] = str(j.Address).replace(",","").lower()
    d['Country']=str(j.Country)
    #print (j.DOB,d['DOB'])
    res = es.index(index="sl_list", doc_type='entity', body=d)
    print(d,res['created'])
    #l.append(d)
    #print(d)
    #break;

1953
{'Name': 'mohammed ali barakat', 'DOB_1': '1953/01/01', 'DOB_2': '1900/06/01', 'SSN': 9876543245, 'Address': '225 syracuse place ardson tx 75081', 'Country': 'Iraq'} True
10/12/1953, 1964
{'Name': 'abdul rahman aziz', 'DOB_1': '1953/12/10', 'DOB_2': '1953/10/12', 'SSN': 9876545711, 'Address': '500 al-muzannar st al-nasir area gaza city gaza palestinian', 'Country': 'Palestine'} True
10/25/1978
{'Name': 'saleem ali wahabi', 'DOB_1': '1978/10/25', 'DOB_2': '1900/06/01', 'SSN': 9876543245, 'Address': 'calle mina no. 15 saucillo chihuahua mx', 'Country': 'Mexico'} True
05-06-1981
{'Name': 'saleem ali ibrahim', 'DOB_1': '1981/06/05', 'DOB_2': '1981/05/06', 'SSN': 9876545788, 'Address': 'blvd. cuauhtemoc 1711 oficina 305 colonia zona rio tijuana baja california mexico', 'Country': 'Mexico'} True
2017
{'Name': 'saleem ali ibrahim', 'DOB_1': '2017/01/01', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': '50 panteli katelari street athens greece', 'Country': 'Greece'} True
12/15/1984
{'Name': 'anita diaz-torres', 'DOB_1': '1984/12/15', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': 'citi bank building new york ny', 'Country': 'USA'} True
03-05-1961
{'Name': 'carlos a. santos', 'DOB_1': '1961/05/03', 'DOB_2': '1961/03/05', 'SSN': 9876545788, 'Address': '226 syracuse place ardson tx 75081', 'Country': 'America'} True
01-21-1999
{'Name': 'mohammed awaiyedh sharif', 'DOB_1': '1999/01/21', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': '501 al-muzannar st al-nasir area gaza city gaza palestinian', 'Country': 'Palestine'} True
1953
{'Name': 'charles taylor guitars inc. usa ', 'DOB_1': '1953/01/01', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': 'calle mina no. 15 saucillo chihuahua mx', 'Country': 'Mexico'} True
10/12/1953, 1964
{'Name': 'wahhabi study center', 'DOB_1': '1953/12/10', 'DOB_2': '1953/10/12', 'SSN': 9876545788, 'Address': 'blvd. cuauhtemoc 1711 oficina 305 colonia zona rio tijuana baja california mexico', 'Country': 'Mexico'} True
10/25/1978
{'Name': 'villareal cuba', 'DOB_1': '1978/10/25', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': '51 panteli katelari street athens greece', 'Country': 'Greece'} True
05-06-1981
{'Name': 'charles taylor guitars inc. usa ', 'DOB_1': '1981/06/05', 'DOB_2': '1981/05/06', 'SSN': 9876545788, 'Address': 'citi bank building new york ny', 'Country': 'USA'} True
2017
{'Name': 'wahhabi study center', 'DOB_1': '2017/01/01', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': '227 syracuse place ardson tx 75081', 'Country': 'America'} True
12/15/1984
{'Name': 'villareal cuba', 'DOB_1': '1984/12/15', 'DOB_2': '1900/06/01', 'SSN': 9876545788, 'Address': '502 al-muzannar st al-nasir area gaza city gaza', 'Country': 'Palestine'} True
03-05-1961
{'Name': 'mohammed awaiyedh sharif', 'DOB_1': '1961/05/03', 'DOB_2': '1961/03/05', 'SSN': 9876545788, 'Address': 'calle mina no. 15 saucillo chihuahua mx', 'Country': 'Mexico'} True
01-21-1999
{'Name': 'wahhabi study center', 'DOB_1': '1999/01/21', 'DOB_2': '1900/06/01', 'SSN': 9876543243, 'Address': 'blvd. cuauhtemoc 1711 oficina 305 colonia zona rio tijuana baja california mexico', 'Country': 'Mexico'} True